
				<a href="http://www.bvifsc.vg/en-gb/divisions/registryofcorporateaffairs/certificateverification.aspx??qrCode=C4C8FC76B4">
					<img src="img/logo1.png">
				</a>
				<!-- <button id="Chinese" onclick="setCookie('chinese')">Chinese</button>
				<button id="english" onclick="setCookie('english')">English</button> -->
					<div class="header_right">
						<div class="lang active">
							<p class="language" id="language">language</p>
							<div class="JYrecords" >
									<div class="one" onclick="setCookie('chinese')">
										<a id="Chinese"  href="javascript:void(0);" data-click="scroll-top">中文</a>
										<em></em>
									</div>
									<div class="two" onclick="setCookie('english')">
										<a id="english"  href="javascript:void(0);" data-click="scroll-top">English</a>
									</div>
							</div>
						</div>
						<div class="lang">
							<p class="language" id="serve">service agreement</p>
						</div>
						<div class="lang">
							<p class="language" id="about"><a onclick="window.location.href='/emailSub/email/getAboutUs'">About Us</a></p>
						</div>
					</div>
